.page__content {
  width: 100%;
  margin: 0 auto;
  padding: 48px 0 64px;
}

@media screen and (min-width: 768px) {
  .page__content {
    padding-bottom: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .page__content {
    padding-bottom: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .page__content {
    padding: 56px 0 92px;
  }
}
