.lead__image {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  display: block;
  margin: 40px 0 8px;
}

@media screen and (min-width: 768px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__image {
    margin-top: 64px;
  }
}